@model IEnumerable<MenuViewModel>

<h1 class="mb-4">Меню</h1>

<form asp-action="Create" asp-controller="Menu" method="post">
	<button class="btn btn-primary" type="submit">Создать меню</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				Название
			</th>
			<th>
				Тип сада
			</th>
			<th>
				На какую дату
			</th>
			<th>
				Пользователь
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.CountChild
				</td>
				<td>
					@item.TypeChild
				</td>
				<td>
					@item.DateCreate.ToString("dd.MM.yyyy")
				</td>
				<td>
					@item.FullName
				</td>
				<td>
					<button type="button"
							class="btn btn-info"
							data-bs-toggle="modal"
							data-bs-target="#editMenuModal"
							data-id="@item.Id"
							data-countchild="@item.CountChild"
							data-typechild="@item.TypeChild"
							data-dateCreate="@item.DateCreate.ToString("yyyy-MM-dd")">
						Редактировать
					</button>
					<button type="button"
							class="btn btn-danger"
							data-bs-toggle="modal"
							data-bs-target="#deleteMenuModal"
							data-id="@item.Id">
						Удалить
					</button>
					<a class="btn btn-info" href="@Url.Action("List", "MenuFood", new { id = item.Id })">
						Детали
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@await Html.PartialAsync("_EditMenuModal")
@await Html.PartialAsync("_DeleteMenuModal")

@section Scripts {
	<script src="~/js/Menu/editMenuModal.js"></script>
	<script src="~/js/Menu/deleteMenuModal.js"></script>
}
